<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/doodle/doodle.css">
    <title>Document</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
  
      body {
        max-width: 800px;
        margin: auto;
        padding: 1em;
        font-family: 'Short Stack', cursive;
        font-size: 2em;
      }
  
      @media only screen and (max-width: 600px) {
        body {
          font-size: 1.25em;
        }
      }
      
      h2 {
        margin-top: 2em;
      }
    </style>
</head>
<body class="doodle">
<form action="/login" method="post">

  <fieldset>
    <legend>Log In</legend>
    <p>
      <label for="username">Username</label><br/>
      <input type="text" name="username" required="">
    </p>
    
    <p>
      <label for="password">Password</label></br>
      <input type="password" name="password" required="">
    </p>
    <p>
      <button type="submit" value="submit" >Login</button>
    </p>
  </fieldset>
</form>
</body>
</html>