<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/doodle.css">
    <title>Document</title>
  </head>
  <body class="doodle">
    <h1>Welcome <%= username %></h1>
    <div class="userDashboard">
      <h1>Tic Tac Toe</h1>
      <form action="/pvp" method="get">
        <div>
          <button type="submit">2 Player</button>
        </div>
      </form>
      <form action="/multiplayer" method="get">
        <div>
          <button type="submit" >
            Multiplayer Online
          </button>
        </div>
      </form>
      <form action="/gamestats" method="post">
        <div>
          <button type="submit" >Game Statistics</button>
        </div>
      </form>
    </div>
  </body>
</html>
