<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/doodle/doodle.css">
    <title>Document</title>
  </head>
  <body class="doodle">
    <div id="logout" style="position: fixed;top: 40px;right: 100px;">
      <form action="/logout" method="post">
        <div>
          <button type="submit">Logout</button>
        </div>
      </form>
    </div>
    <div class="userDashboard">
      <h1>Welcome <%= username %></h1>
      <h1>Tic Tac Toe</h1>
      <form action="/pvp" method="get">
        <div>
          <button type="submit">2 Player</button>
        </div>
      </form>
      <form action="/multiplayer" method="get">
        <div>
          <button type="submit" >
            Multiplayer Online
          </button>
        </div>
      </form>
      <!-- <form action="/gamestats" method="post">
        <div>
          <button type="submit" >Game Statistics</button>
        </div>
      </form> -->
    </div>
    <form style="position: fixed; right: 50px;top: 200px ;">
      <fieldset>
        <legend>Game Stats</legend>
        <ul>
          <li>Win  : <%= win %></li>
          <li>Loss : <%= loss %></li>
          <li>Draw : <%= draw %></li>
        </ul>
      </fieldset>
    </form>
  </body>
</html>
