body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
  }
  
  .userDashboard {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  form {
    margin-bottom: 1rem;
  }
  
  button {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #eee;
    color: #444;
  }
  
  button:focus {
    outline: none;
  }
  
  button.x:before {
    content: "X";
    display: block;
    font-size: 3rem;
    text-align: center;
  }
  
  button.o:before {
    content: "O";
    display: block;
    font-size: 3rem;
    text-align: center;
  }
  